rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userID}/{documents=**} {
      allow read, write: if request.auth != null && request.auth.token.email == userID;
    }
  }
}