.head .home {
  font-size: 1.75rem;
  position: absolute;
  top: 25px;
  right: 25px;
  color: var(--logout-btn);
}

.head .customer__name {
  font-family: "Langar", cursive;
  width: 100%;
  text-align: center;
  font-size: 3rem;
  /* margin-left: 40px; */
}

.transactions {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 10px;
  /* background-color: var(--container-bg); */
}

@media only screen and (max-width: 520px) {
  .head .home {
    top: 5px;
    right: 5px;
  }
}
