.customer__card {
  text-decoration: none;
  color: var(--card-text);
  padding: 0 10px;
  margin: 10px;
  border-radius: 5px;
  width: 21vw;
  background-color: var(--card-bg);
  transition: all 0.25s;
}

.customer__card:hover {
  box-shadow: 3px 3px 20px var(--shadow-color);
}

.customer__card > p {
  margin-top: 0;
  font-weight: 450;
}

.customer__card .positive {
  color: var(--positive);
}

.customer__card .negative {
  color: var(--negative);
}

.customer__card > h2 {
  font-weight: lighter;
  font-family: "Langar", cursive;
  word-break: break-word;
  margin-bottom: 0;
}

.customer__card.add {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.customer__card .add__icon {
  text-align: center;
  font-size: 2rem;
}

@media only screen and (max-width: 520px) {
  .customer__card > h2 {
    font-size: 1.3rem;
  }
}
