.numbers {
  display: flex;
  justify-content: space-evenly;
  font-size: 1.2rem;
  background-color: var(--container-bg);
  padding: 10px;
}

.number__item {
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--card-bg);
  border-radius: 5px;
  width: 26vw;
  height: 7vw;
  padding: 10px;
  color: var(--secondary-text);
}
