@import url("https://fonts.googleapis.com/css2?family=Langar&display=swap");

.head {
  display: flex;
  align-items: center;
  padding: 20px;
}

.head__text {
  font-family: "Langar", cursive;
  font-size: 2.5rem;
  margin-left: 40px;
}

.head > .avatar {
  margin-right: 20px;
  width: 9rem;
  height: 9rem;
}

.head .logout {
  font-size: 1.75rem;
  position: absolute;
  top: 25px;
  right: 25px;
  color: var(--logout-btn);
}

.logout:focus {
  outline: none;
}

.customers {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 20px;
  background-color: var(--container-bg);
  grid-gap: 20px;
}

@media only screen and (max-width: 400px) {
  .customers {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 750px) and (min-width: 400px) {
  .customers {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 970px) and (min-width: 750px) {
  .customers {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 520px) {
  .head .logout {
    top: 5px;
    right: 5px;
  }
}