.trans__card {
  color: var(--card-text);
  padding: 10px;
  margin: 10px 5px;
  border-radius: 5px;
  width: 21vw;
  background-color: var(--card-bg);
  transition: all 0.25s;
}

.trans__time {
  text-align: end;
  margin-top: -5px;
  font-size: 12px;
  color: var(--timestamp-text);
}

.trans__details {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.trans__amount {
  font-weight: bolder;
  font-size: 1.5rem;
}

.trans__amount.positive {
  color: var(--positive);
}
.trans__amount.negative {
  color: var(--negative);
}

.trans__receipt {
  font-size: 2rem !important;
}

.trans__desc {
  word-wrap: break-word;
  width: 100%;
  transition: all 0.25s;
}

@media only screen and (max-width: 520px) {
  .trans__amount {
    font-size: 1rem;
  }
}
