html.light {
  background-color: #ffffff;
  color: #000000;
  --card-text: #000000;
  --secondary-text: #ababab;
  --logout-btn: #000000;
  --positive: #3f8600;
  --negative: #cf1322;
  --timestamp-text: #666666;
  --card-bg: #ffffff;
  --container-bg: #ececec;
  --secondary-bg: #fafafa;
  --shadow-color: #ababab;
  --border-color: #9e9e9e;
  --light: #fff;
  --dark: #000;

}
html.dark {
  background-color: #34353f;
  color: #ffffff;
  --card-text: #ffffff;
  --secondary-text: #ababab;
  --logout-btn: #ffffff;
  --positive: #3f8600;
  --negative: #cf1322;
  --timestamp-text: #666666;
  --card-bg: #34353f;
  --container-bg: #26262c;
  --secondary-bg: #2f2f35;
  --shadow-color: #131313;
  --border-color: #5a5a5a;
  --light: #000;
  --dark: #fff;
}
