@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

.subheading {
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  margin-top: 40px;
}

.upload-list-inline .ant-upload-list-item {
  float: left;
  width: 200px;
  margin-right: 8px;
}

.upload-list-inline [class*="-upload-list-rtl"] .ant-upload-list-item {
  float: right;
}
